
<div *ngIf="playerAchievements">
    <div class="modal-content">
        <h4>{{ game.name }} Achievements</h4>
        <ul class="collection">
            <li *ngFor="#achievement of playerAchievements.achievements.availableGameStats.achievements" class="collection-item avatar">
                <img *ngIf="achievement.achieved === 1" class="circle" src="{{ achievement.icon }}" />
                <img *ngIf="achievement.achieved === 0" class="circle" src="{{ achievement.icongray }}" />
                <span class="title">{{ achievement.displayName }}</span>
                <p>{{ achievement.description }}</p>
                <a *ngIf="achievement.achieved === 1" class="secondary-content green-text"><i class="material-icons">done</i></a>
            </li>
        </ul>
    </div>
    <div class="modal-footer">
        <button class=" modal-action modal-close waves-effect waves-light btn-flat">Close</button>
    </div>
</div>