body {
    background-color: #607D8B;
}

img {
    pointer-events:none;
}

.steambacklog {
    /*width: 75%;*/
    /*margin: 0 auto;*/
}

#steamworkshop {
    height: 50%;
}

/*personastate*/
/*The user's current status. 0 - Offline, 1 - Online, 2 - Busy, 3 - Away, 4 - Snooze, 5 - looking to trade, 6*/