<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

    <header class="">
        <nav>
            <div class="nav-wrapper red">
                <a href="#" class="brand-logo">SteamBacklog</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a [routerLink]="['Main']">Home</a></li>
                    <li><a *ngIf="steamId" [routerLink]="['Overview', {id: steamId}]">Summary</a></li>
                    <li><a *ngIf="steamId" [routerLink]="['Games', {id: steamId}]">Games</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</div>
