<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

    <header class="">
        <nav>
            <div class="nav-wrapper red">
                <a href="#" class="brand-logo">SteamBacklog</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a [routerLink]="['Main']">Home</a></li>
                    <li><a *ngIf="steamId" [routerLink]="['Overview', {id: steamId}]">Summary</a></li>
                    <li><a *ngIf="steamId" [routerLink]="['Games', {id: steamId}]">Games</a></li>
                </ul>
            </div>
        </nav>
        <!--<div class="mdl-layout__header-row">-->
            <!--&lt;!&ndash; Title &ndash;&gt;-->
            <!--<span class="mdl-layout-title">SteamBacklog</span>-->
            <!--&lt;!&ndash; Add spacer, to align navigation to the right &ndash;&gt;-->
            <!--<div class="mdl-layout-spacer"></div>-->
            <!--&lt;!&ndash; Navigation. We hide it in small screens. &ndash;&gt;-->
            <!--<nav class="mdl-navigation mdl-layout&#45;&#45;large-screen-only">-->
                <!--<a class="mdl-navigation__link" [routerLink]="['Main']">Home</a>-->
                <!--<a *ngIf="steamId" class="mdl-navigation__link" [routerLink]="['Overview', {id: steamId}]">Overview</a>-->
                <!--<a *ngIf="steamId" class="mdl-navigation__link" [routerLink]="['Games', {id: steamId}]">Games</a>-->
            <!--</nav>-->
        <!--</div>-->
        <!--<div class="mdl-layout__drawer">-->
            <!--<span class="mdl-layout-title">SteamBacklog</span>-->
            <!--<nav class="mdl-navigation">-->
                <!--<a class="mdl-navigation__link" [routerLink]="['Main']">Home</a>-->
                <!--<a *ngIf="steamId" class="mdl-navigation__link" [routerLink]="['Overview', {id: steamId}]">Overview</a>-->
                <!--<a *ngIf="steamId" class="mdl-navigation__link" [routerLink]="['Games', {id: steamId}]">Games</a>-->
            <!--</nav>-->
        <!--</div>-->
    </header>
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</div>
