<div *ngIf="player" class="mdl-grid">
    <div class="demo-card-event mdl-cell mdl-cell--4-col mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title mdl-card--expand">
            <h4>
                Hi, {{ player.summary.personaname }}!
            </h4>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <p class="mdl-card__subtitle-text">Summary</p>
        </div>
    </div>

    <div class="demo-card-event mdl-cell mdl-cell--4-col mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title mdl-card--expand">
            <h4>
                Player level: {{ player.badges.player_level }}.
            </h4>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <p class="mdl-card__subtitle-text">Badges</p>
        </div>
    </div>

    <div class="demo-card-event mdl-cell mdl-cell--4-col mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title mdl-card--expand">
            <h4>
                You are <span *ngIf="!player.bans.VACBanned">not </span>VAC banned.
            </h4>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <p class="mdl-card__subtitle-text">Bans</p>
        </div>
    </div>
</div>
