<div *ngIf="player">
    <div class="row">
        <div class="col s12">
            <div class="card white">
                <div class="card-content">
                    <span class="card-title">Hi, {{player.summary.personaname}}!</span>
                    <img class="circle persona-state" src="{{player.summary.avatarfull}}" />
                    <p>I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s6">
            <div class="card white">
                <div class="card-content">
                    <span class="card-title">Card Title</span>
                    <p>I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                    <div class="chip">
                        Recent Games
                    </div>
                </div>
            </div>
        </div>
        <div class="col s6">
            <div class="card white">
                <div class="card-content">
                    <span class="card-title">Card Title</span>
                    <p>I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                    <div class="chip">
                        Friends
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s6">
            <div class="card white">
                <div class="card-content">
                    <span class="card-title">Card Title</span>
                    <p>I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                    <div class="chip">
                        Bans
                    </div>
                </div>
            </div>
        </div>
        <div class="col s6">
            <div class="card white">
                <div class="card-content">
                    <span class="card-title">Card Title</span>
                    <p>I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                    <div class="chip">
                        Badges
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<div *ngIf="player" class="mdl-grid">-->
    <!--<div class="demo-card-event mdl-cell mdl-cell&#45;&#45;4-col mdl-card mdl-shadow&#45;&#45;2dp">-->
        <!--<div class="mdl-card__title mdl-card&#45;&#45;expand">-->
            <!--<h4>-->
                <!--Hi, {{ player.summary.personaname }}!-->
            <!--</h4>-->
        <!--</div>-->
        <!--<div class="mdl-card__actions mdl-card&#45;&#45;border">-->
            <!--<p class="mdl-card__subtitle-text">Summary</p>-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="demo-card-event mdl-cell mdl-cell&#45;&#45;4-col mdl-card mdl-shadow&#45;&#45;2dp">-->
        <!--<div class="mdl-card__title mdl-card&#45;&#45;expand">-->
            <!--<h4>-->
                <!--Player level: {{ player.badges.player_level }}.-->
            <!--</h4>-->
        <!--</div>-->
        <!--<div class="mdl-card__actions mdl-card&#45;&#45;border">-->
            <!--<p class="mdl-card__subtitle-text">Badges</p>-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="demo-card-event mdl-cell mdl-cell&#45;&#45;4-col mdl-card mdl-shadow&#45;&#45;2dp">-->
        <!--<div class="mdl-card__title mdl-card&#45;&#45;expand">-->
            <!--<h4>-->
                <!--You are <span *ngIf="!player.bans.VACBanned">not </span>VAC banned.-->
            <!--</h4>-->
        <!--</div>-->
        <!--<div class="mdl-card__actions mdl-card&#45;&#45;border">-->
            <!--<p class="mdl-card__subtitle-text">Bans</p>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
