<div *ngIf="games">
    <div class="row">
        <div class="col s12">
            <div class="card white">
                <div class="card-content center-align">
                    <span class="card-title"><h2>You have {{ games.games.game_count }} games!</h2></span>
                    <h5>Order By:</h5>
                    <p>
                        <button (click)="getSortOrder(sortOrder, 'appid')" class="waves-effect waves-light btn red">App ID</button> |
                        <button (click)="getSortOrder(sortOrder, 'name')" class="waves-effect waves-light btn red">Name</button> |
                        <button (click)="getSortOrder(sortOrder, 'playtime_forever')" class="waves-effect waves-light btn red">Playtime</button></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div *ngFor="#game of games.games.games| orderBy:sortOrder" class="col s6 m3">
            <div class="card white hoverable">
                <div class="card-image">
                    <a href="{{ getSteamUrl(game) }}"><img src="{{getLogoUrl(game)}}"></a>
                    <span *ngIf="!game.img_logo_url" class="card-title black-text">{{ game.name }}</span>
                </div>
                <div class="card-content">
                    <p>Playtime: {{ game.playtime_forever | duration }}</p>
                </div>
                <div class="card-action center-align">
                    <button class="btn-flat waves-effect modal-trigger" (click)="appid = game.appid">Achievements</button>
                    <div *ngIf="game.appid === appid" id="{{ game.appid }}" class="modal">
                        <player-achievements [game]="game"></player-achievements>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>